DATABASE_URL='postgresql://neondb_owner:npg_8ZroULFaRfS6@ep-quiet-bush-ah09xtmn-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
VITE_API_URL=http://backend:5000
JWT_SECRET=secret
PORT=5000